.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #797573;
  box-shadow: -1px 1px 5px 3px #797573;
}

#circleBTN {
  border-radius: 7px;
  padding: 25px;
  border: 1px solid darkgray;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  background-color: darkgreen;
  color: wheat;
  text-transform: uppercase;
  cursor: pointer;
}
